## Workshop 1
>### Grupo: Andre Durso / Debora Pacanaro / Emmydio Paulo / Ivair Bezerra / Willian Yamakawa Souza
>>### **Objetivos:**
>>##### ● Executar uma limpeza do conjunto de dados fornecido. Em particular, você precisará
elaborar estratégias para lidar com dados ausentes em determinadas variáveis.
>>##### ● Realizar uma análise descritiva das principais variáveis.
>>##### ● Criar novas colunas de determinados recursos que podem ter valor preditivo.
Vocês deverão entregar o trabalho da seguinte forma:
Apresente um relatório estruturado (PPT ou Google Slides). Este deve consistir em uma introdução (enunciado do problema, a pergunta, a descrição do conjunto de dados, etc.), um desenvolvimento das análises realizadas (análise descritiva, análise de correlação preliminar, visualizações preliminares) e uma apresentação dos principais resultados e conclusões.

>>### **Observações:**
>>##### 1- Se já tiverem pessoas que gostariam de fazer o trabalho em conjunto, interagem entre vocês e se organizem, na aula vou quebrar a turma em grupos e vocês deverão entrar na mesma sala para início do projeto ( max 5 pessoas)
>>##### 2- Vocês trabalharão com o dataset que estou enviando aqui, é o dataset do enem SP, este dataset compreenderá o Workshop 1 e 2.
>>##### 3- Início do trabalho hoje, entrega máxima dia 27/07/2022 e apresentação dia 01/08/2022
>>##### 4- No dia da apresentação cada grupo deverá apresentar o ppt criado em no máximo 10 minutos, logo após a conclusão os professores irão dar um feedback.
>>##### 5- Não haverá extensão de prazo, deveremos impreterivelmente receber Notebook + ppt no máximo até dia 27/07/2022.

<ul>
    <li><a href="#intro">1. Coleta Base Enem do estado de São Paulo</a></li>

</ul>

<a id='intro'></a>
## Coleta enem São Paulo

In [1]:
import pandas as pd

In [2]:
df_enem_sp = pd.read_csv(r"C:\Users\ivair\OneDrive\DH\ws1\enem_sp.csv")

In [3]:
df_enem_sp.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,200001334237,2020,4,M,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200004902048,2020,6,M,1,1,1,1,3,1,...,B,A,A,B,A,A,C,B,B,B
2,200005550767,2020,2,F,1,1,1,3,0,1,...,B,A,B,D,A,B,D,B,B,B
3,200001141912,2020,2,M,3,3,1,2,0,2,...,B,A,A,C,A,A,D,A,A,B
4,200004149124,2020,5,M,1,3,1,1,3,1,...,B,A,A,B,A,A,C,A,A,B

In [4]:
df_enem_sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250475 entries, 0 to 250474
Data columns (total 76 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   NU_INSCRICAO            250475 non-null  int64
 1   NU_ANO                  250475 non-null  int64
 2   TP_FAIXA_ETARIA         250475 non-null  int64
 3   TP_SEXO                 250475 non-null  object
 4   TP_ESTADO_CIVIL         250475 non-null  int64
 5   TP_COR_RACA             250475 non-null  int64
 6   TP_NACIONALIDADE        250475 non-null  int64
 7   TP_ST_CONCLUSAO         250475 non-null  int64
 8   TP_ANO_CONCLUIU         250475 non-null  int64
 9   TP_ESCOLA               250475 non-null  int64
 10  TP_ENSINO               49385 non-null   float64
 11  IN_TREINEIRO            250475 non-null  int64
 12  CO_MUNICIPIO_ESC        37315 non-null   float64
 13  NO_MUNICIPIO_ESC        37315 non-null   object
 14  CO_UF_ESC               37315 non-null   float64
 15  SG_UF_ESC               37315 non-null   object
 16  TP_DEPENDENCIA_ADM_ESC  37315 non-null   float64
 17  TP_LOCALIZACAO_ESC      37315 non-null   float64
 18  TP_SIT_FUNC_ESC         37315 non-null   float64
 19  CO_MUNICIPIO_PROVA      250475 non-null  int64
 20  NO_MUNICIPIO_PROVA      250475 non-null  object
 21  CO_UF_PROVA             250475 non-null  int64
 22  SG_UF_PROVA             250475 non-null  object
 23  TP_PRESENCA_CN          250475 non-null  int64
 24  TP_PRESENCA_CH          250475 non-null  int64
 25  TP_PRESENCA_LC          250475 non-null  int64
 26  TP_PRESENCA_MT          250475 non-null  int64
 27  CO_PROVA_CN             102576 non-null  float64
 28  CO_PROVA_CH             110332 non-null  float64
 29  CO_PROVA_LC             110332 non-null  float64
 30  CO_PROVA_MT             102576 non-null  float64
 31  NU_NOTA_CN              102576 non-null  float64
 32  NU_NOTA_CH              110332 non-null  float64
 33  NU_NOTA_LC              110332 non-null  float64
 34  NU_NOTA_MT              102576 non-null  float64
 35  TX_RESPOSTAS_CN         102576 non-null  object
 36  TX_RESPOSTAS_CH         110332 non-null  object
 37  TX_RESPOSTAS_LC         110332 non-null  object
 38  TX_RESPOSTAS_MT         102576 non-null  object
 39  TP_LINGUA               250475 non-null  int64
 40  TX_GABARITO_CN          102576 non-null  object
 41  TX_GABARITO_CH          110332 non-null  object
 42  TX_GABARITO_LC          110332 non-null  object
 43  TX_GABARITO_MT          102576 non-null  object
 44  TP_STATUS_REDACAO       110332 non-null  float64
 45  NU_NOTA_COMP1           110332 non-null  float64
 46  NU_NOTA_COMP2           110332 non-null  float64
 47  NU_NOTA_COMP3           110332 non-null  float64
 48  NU_NOTA_COMP4           110332 non-null  float64
 49  NU_NOTA_COMP5           110332 non-null  float64
 50  NU_NOTA_REDACAO         110332 non-null  float64
 51  Q001                    235766 non-null  object
 52  Q002                    235766 non-null  object
 53  Q003                    235766 non-null  object
 54  Q004                    235766 non-null  object
 55  Q005                    235766 non-null  float64
 56  Q006                    235766 non-null  object
 57  Q007                    235766 non-null  object
 58  Q008                    235766 non-null  object
 59  Q009                    235766 non-null  object
 60  Q010                    235766 non-null  object
 61  Q011                    235766 non-null  object
 62  Q012                    235766 non-null  object
 63  Q013                    235766 non-null  object
 64  Q014                    235766 non-null  object
 65  Q015                    235766 non-null  object
 66  Q016                    235766 non-null  object
 67  Q017                    235766 non-null  object
 68  Q018                    235766 non-null  object
 69  Q019                    235766 non-null  object
 70  Q020                    235766 non-null  object
 71  Q021                    235766 non-null  object
 72  Q022                    235766 non-null  object
 73  Q023                    235766 non-null  object
 74  Q024                    235766 non-null  object
 75  Q025                    235766 non-null  object
dtypes: float64(22), int64(17), object(37)
memory usage: 145.2+ MB

In [5]:
df_enem_sp.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')